@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  html,
  body {
    @apply scroll-smooth font-dmsans;
    max-width: 100%;
    overflow-x: hidden;
  }

  /* Navbar */
  .nav-link {
    @apply block m-1 sm:my-2 sm:ml-3 sm:mr-4 transition-all ease-in-out text-sm md:text-base xl:text-lg 2xl:text-2xl hover:text-primary;
  }
  .nav-container {
    @apply w-full px-14 pt-6 pb-8 sm:py-4  sm:absolute;
  }
  .nav-flex {
    @apply container flex flex-wrap items-center justify-center md:justify-between mx-auto;
  }
  .nav-logo {
    @apply flex items-center;
  }
  .nav-img {
    @apply mr-3 h-10 sm:h-14;
  }
  .nav-username {
    @apply self-center text-lg lg:text-2xl 2xl:text-3xl font-semibold whitespace-nowrap;
  }
  .nav-sections {
    @apply block w-auto;
  }
  .nav-list {
    @apply flex p-4 flex-row space-x-4 sm:space-x-8 text-base font-medium;
  }
  /* - */

  /* Introduction Section */
  .intro-container {
    @apply sm:flex justify-around p-5 pt-0 pb-24 sm:p-24 md:h-screen;
  }
  .intro-text {
    @apply my-auto text-2xl text-center sm:text-left md:text-4xl 2xl:text-[60px];
  }
  .intro-welcome {
    @apply pb-3 2xl:pb-6;
  }
  .intro-socials {
    @apply flex justify-center sm:justify-start;
  }
  .socials-container {
    @apply flex sm:relative space-x-10 sm:space-x-20 mt-8 2xl:mt-12 2xl:space-x-24;
  }
  .social-icon {
    @apply h-10 2xl:h-14 sm:absolute;
  }
  .github-tooltip {
    @apply hidden sm:flex group-hover:opacity-100 transition-opacity bg-primary px-1 text-sm 2xl:text-base text-white rounded-md absolute
     opacity-0 top-3 2xl:top-6 left-4 mt-4 mx-auto border-2 border-white;
  }
  .linkedin-tooltip {
    @apply hidden sm:flex group-hover:opacity-100 transition-opacity bg-primary px-1 text-sm 2xl:text-base text-white rounded-md absolute
     opacity-0 top-3 2xl:top-6 left-24 2xl:left-28 mt-4 mx-auto border-2 border-white;
  }
  .twitter-tooltip {
    @apply hidden sm:flex group-hover:opacity-100 transition-opacity bg-primary px-1 text-sm 2xl:text-base text-white rounded-md absolute
     opacity-0 top-3 2xl:top-6 left-44 2xl:left-52 mt-4 mx-auto border-2 border-white;
  }
  .intro-img {
    @apply my-auto flex justify-center;
  }
  .avatar {
    @apply h-72 mt-10 sm:mt-0 sm:h-56 md:h-96 2xl:h-[550px];
  }
  /* - */

  /* Projects Section */
  #projects {
    @apply flex justify-center min-h-screen;
  }
  .projects-container {
    @apply flex flex-col;
  }
  .project-container {
    @apply flex flex-col mb-14 md:mb-32 md:flex-row md:pr-0;
  }
  .project-view {
    @apply absolute bottom-0 right-0;
  }
  .project-img {
    @apply object-cover rounded-md md:ml-3;
  }
  .project-info {
    @apply md:w-80 text-center lg:mx-6 lg:w-96;
  }
  .project-name {
    @apply md:text-left mt-6 md:mt-0 md:mb-6 text-2xl;
  }
  .project-desc {
    @apply mx-8 my-4 sm:my-6 md:my-0 md:text-left md:mx-0 text-xs sm:text-sm lg:my-5 md:mb-6;
  }
  /* - */

  /* About Me Section */
  .about-top-wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    line-height: 0;
    background-color: #f7eeff;
    z-index: -1;
  }

  .about-top-wave svg {
    position: relative;
    display: block;
    width: calc(110% + 1.3px);
    height: 135px;
  }

  .about-top-wave .shape-fill {
    fill: #ffffff;
  }

  /** For mobile devices **/
  @media (max-width: 767px) {
    .about-top-wave svg {
      width: calc(104% + 1.3px);
      height: 96px;
    }
  }

  .about-bottom-wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    z-index: -1;
  }

  .about-bottom-wave svg {
    position: relative;
    display: block;
    width: calc(223% + 1.3px);
    height: 132px;
    transform: rotateY(180deg);
  }

  .about-bottom-wave .shape-fill {
    fill: #ffffff;
  }

  /** For mobile devices **/
  @media (max-width: 767px) {
    .about-bottom-wave svg {
      width: calc(104% + 1.3px);
      height: 173px;
    }
  }
  .about-section {
    @apply min-h-screen  relative;
  }
  .about-description {
    @apply mx-40 text-center text-lg my-2;
  }
  .about-container {
    @apply flex justify-center;
  }
  .about-card {
    @apply bg-white max-w-sm rounded-t-full shadow m-3;
  }
  .card-title {
    @apply text-base font-semibold tracking-tight text-violet;
  }
  .card-data {
    @apply text-base font-bold text-neutral;
  }
  .card-image {
    @apply p-4 h-72 m-auto rounded-t-lg;
  }

  /* - */

  /* Contact Section */
  .custom-shape-divider-top-1675799209 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: -1;
    background-color: #ddedea;
  }

  .custom-shape-divider-top-1675799209 svg {
    position: relative;
    display: block;
    width: calc(300% + 1.3px);
    height: 155px;
  }

  .custom-shape-divider-top-1675799209 .shape-fill {
    fill: #ffffff;
  }

  /** For mobile devices **/
  @media (max-width: 767px) {
    .custom-shape-divider-top-1675799209 svg {
      width: calc(300% + 1.3px);
      height: 101px;
    }
  }

  /* - */

  /* Footer */
  /* css here */
  /* - */

  /* Global Styles */
  .section-title {
    @apply text-4xl text-center mt-4 mb-12 sm:mb-24 2xl:mt-10 2xl:mb-24 2xl:text-[60px];
  }
  .btn-dark {
    @apply bg-neutral py-2 px-3 mr-3 text-sm text-white;
  }
  .btn-light {
    @apply bg-white py-2 px-3 m-3 text-sm text-neutral border border-neutral;
  }
}
