@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  html {
    animation: smoothscroll1 1s;
  }
  html:focus-within {
    animation-name: smoothscroll2;
    scroll-behavior: smooth;
  }

  /* Navbar */
  .nav-link {
    @apply block m-1 sm:my-2 sm:ml-3 sm:mr-4 transition-all ease-in-out text-sm md:text-base xl:text-lg 2xl:text-2xl hover:text-primary;
  }
  .nav-container {
    @apply w-full px-14 pt-6 pb-8 sm:py-4 font-dmsans sm:absolute;
  }
  .nav-flex {
    @apply container flex flex-wrap items-center justify-center md:justify-between mx-auto;
  }
  .nav-logo {
    @apply flex items-center;
  }
  .nav-img {
    @apply mr-3 h-10 sm:h-14;
  }
  .nav-username {
    @apply self-center text-lg lg:text-2xl 2xl:text-3xl font-semibold whitespace-nowrap;
  }
  .nav-sections {
    @apply block w-auto;
  }
  .nav-list {
    @apply flex p-4 flex-row space-x-4 sm:space-x-8 text-base font-medium;
  }
  /* - */

  /* Introduction Section */
  .intro-container {
    @apply sm:flex justify-around font-dmsans p-5 sm:p-20 h-screen;
  }
  .intro-text {
    @apply my-auto text-2xl text-center sm:text-left md:text-4xl 2xl:text-5xl;
  }
  .intro-welcome {
    @apply pb-3 2xl:pb-6;
  }
  .intro-socials {
    @apply flex justify-center sm:justify-start;
  }
  .socials-container {
    @apply flex sm:relative space-x-10 sm:space-x-20 mt-8 2xl:mt-12 2xl:space-x-24;
  }
  .social-icon {
    @apply h-10 2xl:h-14 sm:absolute;
  }
  .github-tooltip {
    @apply hidden sm:flex group-hover:opacity-100 transition-opacity bg-primary px-1 text-sm 2xl:text-base text-white rounded-md absolute
     opacity-0 top-3 2xl:top-6 left-4 mt-4 mx-auto border-2 border-white;
  }
  .linkedin-tooltip {
    @apply hidden sm:flex group-hover:opacity-100 transition-opacity bg-primary px-1 text-sm 2xl:text-base text-white rounded-md absolute
     opacity-0 top-3 2xl:top-6 left-24 2xl:left-28 mt-4 mx-auto border-2 border-white;
  }
  .twitter-tooltip {
    @apply hidden sm:flex group-hover:opacity-100 transition-opacity bg-primary px-1 text-sm 2xl:text-base text-white rounded-md absolute
     opacity-0 top-3 2xl:top-6 left-44 2xl:left-52 mt-4 mx-auto border-2 border-white;
  }
  .intro-img {
    @apply my-auto flex justify-center;
  }
  .avatar {
    @apply h-72 mt-10 sm:mt-0 sm:h-80 md:h-96 2xl:h-[484px];
  }
  /* - */

  /* Projects Section */
  #projects {
    @apply flex justify-center min-h-screen font-dmsans;
  }
  .projects-container {
    @apply flex flex-col;
  }
  .project-container {
    @apply flex mb-32;
  }
  .project-view {
    @apply absolute bottom-0 right-0;
  }
  .project-img {
    @apply object-cover rounded-md ml-3;
  }
  .project-info {
    @apply mx-6 w-96;
  }
  .project-name {
    @apply mb-6 text-2xl;
  }
  .project-desc {
    @apply text-xs mb-6;
  }
  /* - */

  /* About Me Section */
  /* css here */
  /* - */

  /* Contact Section */
  /* css here */
  /* - */

  /* Footer */
  /* css here */
  /* - */

  /* Global Styles */
  .section-title {
    @apply text-4xl text-center mt-4 mb-16;
  }
  .btn-dark {
    @apply bg-neutral py-1 px-2 mr-3 text-sm text-white;
  }
  .btn-light {
    @apply bg-white py-1 px-2 m-3 text-sm text-neutral border border-neutral;
  }
}
